.arrivals {
    margin-bottom: 143px;
}

.arrivals-content {

}

.arrivals__header {
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.06em;    
    margin-bottom: 100px;
}

.arrivals__header::after {
    content: "";
    position: absolute;
    width: 190px;
    height: 32px;
    background-image: url("./../../img/icons/decor-yellow.svg");  
    right: 0;
    bottom: 0;
    z-index: -1;
}

.arrivals__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}