.vouchers {
    margin-bottom: 220px;
}

.vouchers-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding: 0 119px;
}

.vouchers__text {
    max-width: 510px;
}

.vouchers__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.06em;
    margin-bottom: 41px;
}

.vouchers__desc {
    color: #7C7C7C;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.04em;
    margin-bottom: 65px;
}

.vouchers__btn-wrapper {
    display: flex;
    column-gap: 19px;
}