.header {
    padding: 46px 0 56px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header__logo span {
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
}

.header__nav {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-transform: uppercase;
}

.header__nav ul {
    display: flex;
    align-items: center;
    column-gap: 65px;
}

.header__nav a {
    color: black;
}

.header__nav-btn, a.header__nav-btn {
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 7px;
    padding: 13px 22px 17px;
}

.header__nav-btn:hover {
    background: #E5C643;
    color: black;
    transition: 0.4s ease-in-out;
}
